<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1057578835114-033vb140s5cvoi5mel94ku6o9llpvb4g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2CfZMmlEfbHvIX_RL033N2tAej54KyjE</string>
	<key>GCM_SENDER_ID</key>
	<string>1057578835114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zynomatrix.canvaz</string>
	<key>PROJECT_ID</key>
	<string>demoproject-9fc4d</string>
	<key>STORAGE_BUCKET</key>
	<string>demoproject-9fc4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057578835114:ios:a3354f7d3f3b22ba2c04d3</string>
	<key>DATABASE_URL</key>
	<string>https://demoproject-9fc4d-default-rtdb.firebaseio.com</string>
</dict>
</plist>